.container{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    box-shadow: -10px -5px 5px #efefef, 0px 10px 20px 10px #efefef;
    border-radius: 5px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgb(237, 23, 119) 0%, rgba(253,187,45,1) 100%);  
}

.containerName{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    /* position: relative; */
    width: 100%;
}

.btn{
    background-color: red;
    color: white;
    width: 25px;
    border: none;
    top: 0px;
    /* position: absolute; */
    /* margin-left: 100%; */
    
}

.btn:hover{
    background-color: white;
    color: red;
}